html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {

  font-size: 50px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
     background: red; /* For browsers that do not support gradients */
     background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
     background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

#notajoke {
  font-size:18px;

}

h1 {
  margin: 0
  color: #000000;
  text-shadow: 1px 1px 1px black;
}

img {
  width:100%;
  margin-top: 20px;
  display:block;
}
